<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="section1Footer">
                    <h5>About Us</h5>
                    <div class="logo">
                        <img src="assets/main/logo.png" class="center">
                    </div>
                    <div class="aboutCompany">
                        <p>Founded in 2017, Gelanshow Textiles is a multinational textile enterprise that is well respected among leaders in the market.Supported and approved by the relevant government and state departments across Asia, for our quality and business proficiency, we not only have the mandate to export our goods globally, we are revered for it. With an inherent focus on developing and supplying the finest quality fabrics globally, our company boasts hundreds of looms and over 10,000 square metres of factory space, as well as a fully-automated third- generation modern production line.
                        </p>
                    </div>
                    <div class="socialIcons">
                        <div class="col-12 top-social text-center text-md-right">
                            <ul class="list-unstyled">
                                <li>
                                  <a title="Facebook" href="https://www.facebook.com/glshowtex/">
                                      <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                                  </a>
                                  <a title="Twitter" href="https://www.linkedin.com/company/gl-show-international">
                                      <span class="social-icon"><i class="fab fa-twitter"></i></span>
                                  </a>
                                  <a title="Instagram" href="https://www.linkedin.com/company/gl-show-international">
                                      <span class="social-icon"><i class="fab fa-instagram"></i></span>
                                  </a>
                                  <a title="Linkdin" href="https://www.linkedin.com/company/gl-show-international">
                                      <span class="social-icon"><i class="fab fa-linkedin"></i></span>
                                  </a>
                                </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="section1Footer">
                    <h5>Working Hours</h5>
                    <div class="workingHours">
                        <p>We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our Hotline and Contact form.</p>
                    </div>
                    <div class="openingTiming">
                        <table>
                            <tr>
                                <td>Monday - Friday: </td>
                                <td class="tableRightOne">10:00 - 16:00</td>
                            </tr>
                            <tr>
                                <td>Saturday: </td>
                                <td class="tableRightOne">12:00 - 15:00</td>
                            </tr>
                            <tr>
                                <td>Sunday and holidays: </td>
                                <td class="tableRightOne">09:00 - 12:00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="section1Footer">
                    <h5>Products</h5>
                    <div class="listofProducts">
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-arrow-right"></i>Biodegradable Plant Based Fabric</a>
                                <a href="#"><i class="fas fa-arrow-right"></i>Recycled Fabric</a>
                                <a href="#"><i class="fas fa-arrow-right"></i>Characteristic Fabric</a>
                                <a href="#"><i class="fas fa-arrow-right"></i>Jacquard Woven Fabric</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footerEnd">
    <p>Developed by <a href="https://navinbarnwal.com" target="_blank">navinbarnwal.com</a></p>
</div>