<div class="aboutUs">
    <div class="container">
        <div class="heading1">
            <div class="header"> About US</div>
            <h2> We Work with Fabrics Technology that cares aboutu Future</h2>
            <p>
                Gelanshow Textiles is a globally- positioned textile manufacturer and fabric engineering company. We produce the finest quality technically engineered fabrics at our own factories, which ensures we have complete control over the entire production process. This is a distinct difference to other textile manufacturers and we pride ourselves on this.

            </p>
        </div>
        <div class="heading2">
            <div class="header1"> Who We Are</div>
            <p>ounded in 2017, Gelanshow Textiles is a multinational textile enterprise that is well respected among leaders in the market.Supported and approved by the relevant government and state departments across Asia, for our quality and business proficiency, we not only have the mandate to export our goods globally, we are revered for it. With an inherent focus on developing and supplying the finest quality fabrics globally, our company boasts hundreds of looms and over 10,000 square metres of factory space, as well as a fully-automated third- generation modern production line.</p>
        
        </div>
        <div class="heading3">
            <div class="header1"> Our PHILOSOPHY</div>
            <p>Our production line adopts fully-automated production equipment, which is safe, accurate, and efficient, which greatly improves production efficiency. In addition, strict production industrial process control ensures product quality. With a history of producing fashionable down jacket bronzing fabrics, mountaineering clothing fabrics, women's fashion fabrics and men fashion fabric , Gelanshow Textiles adheres to the business philosophy of integrity, trustworthiness, and hard work and we advocate the service tenet of "quality first, Customer First.</p>
            <h5> Quality First, Customer First</h5>
        </div>

    </div>
</div>