.landing-page{

    .carousel-inner{
      z-index: 0;
        max-height: 600px;
        .carousel-item{
          video{
           
          }
            img{
                width: 100%;
                background-size: contain;
            }
            img:hover{
                background-size: cover;
            }
        }
    }
    .carousel-control-prev{
        .carousel-control-prev-icon{
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            width: 4rem;
            height: 4rem;

        }
        .carousel-control-prev-icon:hover{
            color: white;
            background-color: #ff7518;
        }
    }
    .carousel-control-next{
        .carousel-control-next-icon{
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 24px;
            width: 4rem;
            height: 4rem;

        }
        .carousel-control-next-icon:hover{
            color: white;
            background-color: #ff7518;
        }
    }

}

.carousel-caption h1 {
    font-weight: bold;
    font-size: 6.2em; /* small size since this is the default in Bootstrap */
    text-align:left;
    text-shadow: 2px 2px 2px 2px #000000;
    animation: glow 1s ease-in-out infinite alternate;
}

.carousel-caption p {
    font-size: 3em; /* small size since this is the default in Bootstrap */
    text-align:left;
    text-shadow: 2px 2px 2px 2px #000000;
    animation: glow 1s ease-in-out infinite alternate;

}
@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption h1 { font-size: 3.3em;
    animation: glow 1s ease-in-out infinite alternate;
}
  .carousel-caption p {font-size: 2.1em;}  
}
@media (min-width: 768px) {// Medium devices (tablets, 768px and up)
  .carousel-caption h1 { font-size: 4.4em;
    animation: glow 1s ease-in-out infinite alternate;
}
  .carousel-caption p {font-size: 2.2em;}  
}
@media (min-width: 992px) { // Large devices (desktops, 992px and up)
  .carousel-caption h1 { font-size: 5.5em;
    animation: glow 1s ease-in-out infinite alternate;
}
  .carousel-caption p {font-size: 2.3em;}  
}
@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
  .carousel-caption h1 { font-size: 6.6em;
    animation: glow 1s ease-in-out infinite alternate;
}
  .carousel-caption p {font-size: 3.4em;}  
}


.overlapping_quote{
  z-index: 1;
  margin-top: -51px;
  
  .container{
    height: 100px;
    .box_with_quote_and_button{
      background-color: #ff7518;
      padding: 32px;
      padding-left: 40px;
     
      width: 100%;
      .title{
        color: #fff;
        
        line-height: 36px;
        text-transform: uppercase;
        font: 2.05rem/1.4 Georgia, serif;
      }
      .overlapping_box_btn {
        text-align: center;
         background: #23282d;
         -webkit-border-radius: 28;
         -moz-border-radius: 28;
         border-radius: 1px;
         font-family: Arial;
         color: #ffffff;
         font-size: 20px;
         padding: 5px 10px 5px 10px;
         text-decoration: none;
        }
   
      .overlapping_box_btn:hover {
            cursor: pointer;
            background: black;
            text-decoration: none;
      }
    }
  }
} 
