<div class="landing-page">
    
    <!-- Carousel -->
    <div id="landing_pageCarousal" class="carousel slide" data-ride="carousel">

    <!-- Indicators/dots
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#landing_pageCarousal" data-bs-slide-to="6"></button>

    </div> -->
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <video width="100%" height=100% controls autoplay>
            <source src="assets/promo/promo_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
         
          
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic1.jpg" alt="Factory Pic 1" class="d-block" style="width:100%">
        <div class="carousel-caption">
             <h1>Welcome to Gelan Show Textiles</h1>
        <p>We speak for ourselves.</p>
        </div>
       
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic4.jpg" alt="Factory Pic 2" class="d-block" style="width:100%">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic5.jpg" alt="Factory Pic 3" class="d-block" style="width:100%">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic6.jpg" alt="Factory Pic 4" class="d-block" style="width:100%">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic7.jpg" alt="Factory Pic 5" class="d-block" style="width:100%">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/factoryPic/factory_pic8.jpg" alt="Factory Pic 6" class="d-block" style="width:100%">
        <div class="carousel-caption">
        </div>
      </div>
     
    </div>
    
     <!-- Left and right controls/icons  -->
    <button class="carousel-control-prev" type="button" data-bs-target="#landing_pageCarousal" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#landing_pageCarousal" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </button>
  </div>
  
 
</div>

<div class="overlapping_quote">
  <div class="container">
    <div class="box_with_quote_and_button">
      <div class="row">
        <div class="col-9 title">yaha pe koi quote btao</div>
        <div class="col-3">
          <div class="overlapping_box_btn">Main Kuch Karega !</div>
        </div>

      </div>
    </div>
  </div>
</div>