<div id="top-bar" class="top-bar">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-8">
            <ul class="top-info text-center text-md-left">
                <li><i class="fas fa-map-marker-alt"></i> No.288 Wuzhong Road, Shengze Town, Wujiang District, Suzhou City,
                    Jiangsu China
                </li>
            </ul>
          </div>
          <!--/ Top info end -->

          <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
            <ul class="list-unstyled">
                <li>
                  <a title="Facebook" href="https://www.linkedin.com/company/gl-show-international">
                      <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                  </a>
                  <a title="Twitter" href="https://www.linkedin.com/company/gl-show-international">
                      <span class="social-icon"><i class="fab fa-twitter"></i></span>
                  </a>
                  <a title="Instagram" href="https://www.linkedin.com/company/gl-show-international">
                      <span class="social-icon"><i class="fab fa-instagram"></i></span>
                  </a>
                  <a title="Linkdin" href="https://www.linkedin.com/company/gl-show-international">
                      <span class="social-icon"><i class="fab fa-linkedin"></i></span>
                  </a>
                </li>
            </ul>
          </div>
          <!--/ Top social end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</div>
<div id="header" class="header-one">
  <div class="bg">
    <div class="container">
      <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="logo">
          <a class="d-block" href="http://glshows.com">
            <img loading="lazy" src="assets/main/logo.png" alt="Constra" width="50%">
          </a>
        </div>
      </div>
      <div class="second_menu_right_item  col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-3">
            <div class="label"> Call Us</div>
            <div class="label_data">( +86 ) - 1537 012 27897</div>
          </div>
          <div class="col-3">
            <div class="label"> Email Us</div>
            <div class="label_data">Contact@glshows.com</div>
          </div>
          <div class="col-3">
            <div class="label"> Global Certificate</div>
            <div class="label_data"></div>
          </div>
          <div class="col-3">
            <div class="big_contact_button"> Contact Us</div>
            
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="site-navigation">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
          <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="companydropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    COMPANY
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="companydropdown">
                    <li><a class="dropdown-item" href="#">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Our People</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                    <li><a class="dropdown-item" href="#">Testimonials</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="productdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    PRODUCTS
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="productdropdown">
                    <li><a class="dropdown-item" href="#">Biodegradable Plant Based Fabric</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Recycled Fabric</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Characteristic Fabric</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Jacquard Woven Fabric</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
              <form class="d-flex search_tab">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--/ Navigation end -->
  </div>