/* You can add global styles to this file, and also import other style files */

.body{
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    font-size: 15px;
    color: #555;
    -webkit-font-smoothing: antialiased !important;

}
